* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.nav{
    width:100%;
    padding:20px;
    position:relative;
    color:black;
    letter-spacing: 3px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

}
.side-container{
    position:absolute;
    right:50px;
    font-size: 22px;
    color:dimgrey
}
.container{
    width:100%;
    margin-top:10px;
    margin-bottom:50px;
    position:relative;
}
.middle {
    position:absolute;
   top:370px;
   right:560px;
   font-size:45px;
   color:white;
   letter-spacing:4px;
}
.middle .highlight {
  background:black;  
  color: white;        
  padding: 5px 10px;   
}
.image{
    color:black;
    font-size: 22px;
    letter-spacing: 2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    

}
.allimages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.project {
  position: relative;  
}
.project img {
  width: 100%;
  box-sizing: border-box;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  color: white;
  padding: 6px 12px;
  font-size: 16px;
  letter-spacing: 0px;
}
.next {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.next img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom:50px;
    box-sizing: border-box;
}
.about{
    color:black;
    font-size: 15px;
    letter-spacing: 2px;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:20px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 4 per row on large screens */
  gap: 20px;  /* space between images */
  padding: 10px;
  box-sizing: border-box;
}

.team img {
  width: 100%;
  display: block;
}

.team .caption {
  margin-top: 8px;
  letter-spacing:0px;
  font-size: 20px;
  color: #333; /* light black */
  font-family: "Segoe UI", Tahoma, sans-serif;
}
.team .name {
  margin-top: 10px;
   font-size: 14px;
  color:darkgray; /* light black */
  font-family: "Segoe UI", Tahoma, sans-serif;
  margin-bottom:15px;
}

.team .para {
  font-size:13px;
  color:black; /* light black */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing:2px;
}
.team .contact-btn {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.team .contact-btn:hover {
  background-color: #ddd;
}
.image {
  width:100%;
  height:100%;
}
.tag{
  color:black;
  letter-spacing: 0px;
}
.contact{
  letter-spacing:0px;
}
.text{
  width:100%;
  margin:20px;
}
.message{
  width:13%;
  background-color:black;
  color:white;
  margin-top:20px;
  margin-bottom:40px;
  text-align: center;
}

