*{
    margin:0px;
    padding:0px;
}
.container{
    border:2px solid;
    padding:20px;
}
.first-image-container{
    border:2px solid;
    padding:30px;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
     position:relative;

}
.para{
    font-size:30px; 
    color:white;
    position:absolute;
   
}
.image-containers{
    width:500px;
    height:300px;
    position:relative;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
}
.image-containers img{
    width:100%;
    height:100%;
    border-radius:100%;
}
.second-image-container{
    border:2px solid;
    padding:30px;
     display:flex;
     justify-content:space-around;
     align-items:center;
    margin-bottom:30px;
     position:relative;
}
.para1{
    font-size:30px;
    top:120px;
    color:white;
    position:absolute;
    text-align:center;
}
.image-containers1{
   width:500px;
    height:300px;
    position:relative;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
}
.image-containers1 img{
    width:100%;
    height:100%;
    border-radius:100%;
}

