*{
    margin:0px;
    padding:0px;
}
.container{
    border:2px solid;
    padding:20px;
}
.first-image-container{
    border:2px solid;
    padding:30px;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
     position:relative;

}
.para{
    font-size:50px; 
    color:white;
    position:absolute;
   
}
.image-containers{
    width:800px;
    height:600px;
    position:relative;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
}
.image-containers img{
    width:700px;
    height:600px;
    border-radius:100%;
}
.second-image-container{
    border:2px solid;
    padding:30px;
     display:flex;
     justify-content:space-around;
     align-items:start;
    margin-bottom:30px;
     position:relative;
}
.para1{
    font-size:50px;
    bottom:270px;
    color:white;
    position:absolute;
    text-align:center;
}
.image-containers1{
   width:800px;
    height:600px;
    position:relative;
     display:flex;
     justify-content:space-around;
     align-items:center;
     margin-bottom:30px;
}
.image-containers1 img{
    width:700px;
    height:600px;
    border-radius:100%;
}

