
*{
    margin:0px;
    padding:0px;
}
.image-container {
    width: 100%;
    height: auto;               
}

.img-src1,
.img-src2,
.img-src3,
.img-src4,
.img-src5,
.img-src6,
.img-src7,
.img-src8 {
    width: 300px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.img-src1 img,
.img-src2 img,
.img-src3 img,
.img-src4 img,
.img-src5 img,
.img-src6 img,
.img-src7 img,
.img-src8 img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    margin-top:20px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    min-height: 40px;
    margin-bottom:10px;
}

.para {
    font-family: "Arial", "Helvetica", sans-serif; 
    font-size: 20px;
    padding: 5px;
    min-height: 50px;

}