*{
    margin:0px;
    padding:0px;
}
body,html{
    width:100%;
    height:100%;
}
.container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap:10px;
    height:100vh;
    width:100vw;
}
.item{
    padding:10px;
    font-size: 2rem;
}
.item1{
    background-color:lime;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
 
}
.item2{
    background-color:lime;
    grid-column-start: 2;
    grid-column-end: 4;

}
.item3{
    background-color: red;
}
.item4{
    background-color: yellow;
}
.item5{
    background-color: red;
}
.item6{
    background-color: red;
}
.item7{
    background-color:lime;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
 
}
.item8{
    background-color:yellow;
}
