*{
    margin:0px;
    padding:0px
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:130px;
}
.first{
    font-size:25px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.second{
    font-size:30px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:20px;
}
.sub-container{
    display:flex;
    border:2px solid;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.item1 {
  color:black;
}
.item{
  flex:1;
  background-color: transparent;  
  cursor:pointer;
  padding:10px;
  margin:0;
}
.item2 {
  background-color: rgba(169, 169, 169, 0.26);
  color: black;
}
.item:hover{
 background-color: rgba(128, 128, 128, 0.493);
}
.second-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  padding: 20px;
}

.second-container img {
  width: 100%;
  height: auto;
  display: block;
}
.itemn>img{
width:100%;
height:100%;
object-fit: cover;
}
