*{
    margin:0px;
    padding:0px;
}
/* .parent-container{
    display:flex;
    justify-content:center;
} */
.image-container{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.img{
    width:350px;
    height:300px;
    flex-grow:1;
    position:relative;
}
.img > p{
    position:absolute;
    top:0px;
    left:0px;
    background-color: black;
    color:white;
    font-size:20px;
    padding:8px;

}
.img img{
    width:100%;
    height:100%;
}