*{
    padding:0px;
    margin:0px;
}
   body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container {
    font-size: 20px;
    padding: 7px 15px;
    background-color:black;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 3px;
}

.container2 {
    display: flex; 
    width: 700px;
    height: 60px; 
    border: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 3px solid #ccc;
    overflow: hidden;
    padding: 10px;
    gap:10px;
    box-sizing: border-box; 
}
.target1, .target2 {
    flex: 1;
    padding:15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.target1 {
    background-color: transparent;
    color: black;
}

.target2 {
    background-color: transparent;
    color:black;
}
input[type="radio"] {
    display: none;
}
#tab1:checked ~ .container2 .target1{
     background-color: rgba(0, 0, 0, 0.562);
    color: white;
}
#tab2:checked ~ .container2 .target2 {
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
}
.content1, .content2 {
    display: none;
    width: 700px;
    padding: 15px;
    border: 2px solid rgba(0,0,0,0.26);
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
#tab1:checked ~ .content1 { display: block; }
#tab2:checked ~ .content2 { display: block; }
.menu-item {
    margin-bottom: 25px;
}

.menu-item h3 {
    font-size: 18px;
    font-weight: bold;
     margin-top: 25px;
}

.menu-item p {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
}
