*{
    margin:0;
    padding:0;
}
h2{
    margin-left:20px;
    padding:20px;
}
.linear-container{
    width:200px;
    height:200px;
    background: repeating-linear-gradient(0deg,yellow 20px,red 40px);
    border:2px solid;
    margin-left:20px;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
}
.radial-container{
    width:200px;
    height:200px;
    background: radial-gradient(circle,pink,blue,green);
     border:2px solid;
     margin-left:20px;
      text-align: center;
    line-height: 200px;
    font-size: 25px;
}
.conic-container{
    width:200px;
    height:200px;
    background:conic-gradient(from 90deg at center,yellow,red,green,blue);
     border:2px solid;
     margin-left:20px;
      text-align: center;
    line-height: 200px;
    font-size: 25px;
}