
* {
  margin: 0;
  padding: 0;
}
.image-container {
  width: 500px;  
  height: 500px;                
  padding: 20px;               
  border: 2px solid blue;        
  margin: 20px;             
  background-color:chocolate;    
  text-align: center;  
  border-radius:20px          
}
.image-container img {
  width: 100%;                   
  height: 50%;                
}             
.image-container2 {
  width: 500px; 
  height:500px;                 
  padding: 20px;                
  border: 2px solid blue;        
  margin: 20px;             
  background-color:darkgoldenrod;    
  text-align: center;   
  border-radius:20px           
}

.image-container2 img {
  width: 100%;                   
  height: 50%;                
}

.image-container3 {
  width: 500px;  
  height:500px;                
  padding: 20px;                
  border: 2px solid blue;        
  margin: 20px;             
  background-color:blueviolet;    
  text-align: center; 
  border-radius:20px             
}
.image-container3 img {
  width: 100%;                   
  height: 50%;                
}


.image-container4 {
  width: 500px;  
  height:500px;                
  padding: 20px;                
  border: 2px solid blue;        
  margin: 20px;             
  background-color:darkred;    
  text-align: center;
  border-radius:20px              

}

.image-container4 img {
  width: 100%;                   
  height: 50%;                
}

.image-container5 {
  width: 500px; 
  height:500px;                 
  padding: 20px;                
  border: 2px solid blue;        
  margin: 20px;             
  background-color:crimson;    
  text-align: center;  
  border-radius:20px            

}
.image-container5 img{
    width: 100%;
    height:50%
}



