*{
    margin:0px;
    padding:0px;
}

.container1,.container2, .container3, .container4{
    border:2px solid;
    width:300px;
    height:300px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container1{
    position:relative;
    top:1.25em;
     line-height:300px;
    left:50px;
    background-color: blueviolet;
}
.container2{
    position:absolute;
     top:1.25em;
     left:400px;
      line-height:300px;
     background-color: tomato;
}
.container3{
    position:fixed;
     bottom:20px;
     right:20px;
      line-height:300px;
     background-color: darkcyan;
}
.container4{
    position: sticky;
     top:0;
     left:50px;
      line-height:300px;
     background-color: gold;
}
p{
    font-size: 2rem;
    text-align: center;
    height:1000px;
}
.img-container{
    width:100vw;
    height:100vh;
    background-image: url(https://img.freepik.com/free-photo/landscape-with-lake-sunset_395237-259.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}