*{
    padding:0px;
    margin:0px;
     box-sizing: border-box;
}
.container{
    display:flex;
    width:100%;
    height:100px;
    top:0;
    justify-content:space-evenly;
    background-color: black;
    align-items: center;
}
.container1, .container2,.container3, .container4{
    font-size:30px;
    color:white;
    padding:10px;
}
.second-container{
    display:flex;
    height:200px;
    background-color: blueviolet;
    margin-top:10px;
    
}
.con1, .con3{
    font-size:20px;
   width: 200px;
    text-align: center;
    background-color: blue;
    line-height: 200px;
}
.con2{
    flex: 1;
    background-color: brown;
    text-align: center;
     font-size:20px;
     line-height: 200px;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
    height:200px;
    /* background-color: blue; */
    margin-top: 30px;
}
.box1{
    width:200px;
    height:200px;
    background-color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
     border: 2px solid;
}
